@{
    ViewBag.Title = "About Us";
}


<style>
.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}
</style>

<div class="container-fluid text-center">
    <h1><strong>Development Team</strong></h1>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/chris.jpeg" alt="Lights" style="width:40.5%">
            <h3>Christopher Decker</h3>
            <p>Chris is a Senior at SELU pursuing an IT degree. His primary concentration focuses in multiple areas, which include Web Design, UI, Computer Network Engineering, Application Development, and Business Management.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/robert.jpg" alt="Lights" style="width:30%">
            <h3>Robert Waguespack</h3>
            <p>Robert is a Senior at SELU pursuing an IT degree. His hobbies consist of gaming, adventuring, and hanging with friends. He plans to graduate next semester, then work with his uncle in the IT field.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/marcus.jpeg" alt="Lights" style="width:41%">
            <h3>Marcus Little</h3>
            <p>Marcus is a Senior at SELU pursuing a computer science degree. His hobbies consist of Netflix, cooking, and gaming. He hopes to find himself in the field of software development after graduating.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/Steve-Z.png" alt="Lights" style="width:41%">
            <h3>Steve Zhao</h3>
            <p>Steve is a Senior at SELU pursuing a computer science degree. His hobbies include reading, gaming, and cooking. He plans to grad next spring</p>
        </div>
    </div>
</div>
